/* body {
    background: blue
} */

#logoimage{
    width: 100px;
    margin-left: 20px
}

#background-image{
    background-image: url("background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    height: 700px;
    width: 100%
}

#giv-margin-top {
    margin-top: 20px
}

#display-block{
    display: block
}

footer{
    margin-top: 50px;
    background-color: black
}

#login-bg-color {
    background-color: black
}

#login-form-div{
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    
}

#add-margin-top-to-login-form{
    margin-top: 80px
}
