/* body {
    background: blue
} */

#logoimage{
    width: 100px;
    margin-left: 20px
}

#background-image{
    background-image: url("background-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative
}

#login-bg-image{
    background-image: url('images3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}

#post-bg-image{
    background-image: url('images5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.inner{
    position: absolute;
    width: 100%;
    background-color: #0009;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%
}

#word-on-image{
    color : #fff;
    font-size : 70px;
    font-family : Ariel;
    margin-top: 100px;
    left: 50%;
    text-align : center
}

#house-listing-p{
    font-size: 50px;
    font-family: Ariel;
    color: blueviolet;
    text-align : center
}

#giv-margin-top {
    margin-top: 20px
}

#display-block{
    display: inline;
    margin: 50px;
    margin-left: 50px;
    font: 20px
}

footer{
    margin-top: 50px;
    background-color: black
}

/* #login-bg-color {
    background-color: black
} */

#login-form-div{
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    
}

#add-margin-top-to-login-form{
    margin-top: 80px
}

tr td .edit {
    display: none
}

tr td.edit .edit{
    display: initial
}

tr td.edit .edit{
    display: none
}